ul {
    right: 30px;
    position: absolute;
  }
  
  .navbar-brand {
    font-size: 30px;
  }

  li {
    display: inline-block;
  }

  
.paragraph {
    font-size: 20px;
    left: 20px;
    right: 20px;
    text-align: justify;
  }


.container-paragraph {
    display: grid;
    grid-gap: 150px;
    text-align: center;
    margin: 40px;
  }
  
  .container-paragraph p {
    max-width: 100%;
    height: auto;
    font-size: 30px;
  }

  .image-section {
    flex: 1;
    padding: 20px;
  }
  
  .image-section-about img {
    max-width: 35%;
    height: 50%;
    display: block;
    margin: 50px auto;
    border-radius: 60%;
  }
  
  .image-section img {
    max-width: 70%;
    height: 50%;
    display: block;
    margin: 50px auto;
    border-radius: 50%;
  }
  